.foliox_tm_button a {
  padding-top: 13px;
  padding-bottom: 13px;
  padding-left: 38px;
  padding-right: 38px;
}

.foliox_tm_button {
  width: 100%;
  height: auto;
  clear: both;
  float: left;
}

.foliox_tm_button a {
  font-family: var(--font-poppins);
  color: #fff;
  display: inline-block;
  background-color: var(--extra-color);
  padding: 18px 43px;
  border-radius: 50px;
  overflow: hidden;
  position: relative;
}

.foliox_tm_button a span {
  position: relative;
  z-index: 2;
  -webkit-transition: all 0.3s ease;
  -moz-transition: all 0.3s ease;
  -ms-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  transition: all 0.3s ease;
}

.foliox_tm_button a:before {
  position: absolute;
  content: "";
  left: -10px;
  right: -10px;
  bottom: -10px;
  top: -10px;
  background-color: #fff;
  transform: translateY(100%);
  -webkit-transition: all 0.3s ease;
  -moz-transition: all 0.3s ease;
  -ms-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  transition: all 0.3s ease;
}

.foliox_tm_button a:hover:before {
  transform: translateY(0);
}

.foliox_tm_button a:hover span {
  color: #000;
}

.foliox_tm_about .foliox_tm_button a {
  padding: 13px 43px;
}

.foliox_tm_hero .name {
  margin-bottom: 14px;
  font-size: 75px;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: Poppins, sans-serif;
  font-weight: 600;
  line-height: 1.3;
  --tw-text-opacity: 1;
  color: rgb(255 255 255 / var(--tw-text-opacity));
}

.text-extra-color {
  color: var(--extra-color);
}

.fill-extra-color {
  fill: var(--extra-color);
}

/***** Tablet ****/

@media (max-width: 768px) {
  .foliox_tm_hero .name {
    margin-bottom: 8px;
    font-size: 50px;
  }

  .foliox_tm_hero .\!name {
    margin-bottom: 8px;
    font-size: 50px;
  }
}

/***** Small ****/

@media (max-width: 1040px) {
  .foliox_tm_hero .name {
    margin-bottom: 12px;
    font-size: 65px;
  }

  .foliox_tm_hero .\!name {
    margin-bottom: 12px;
    font-size: 65px;
  }
}

/***** Large ****/

@media (max-width: 1600px) {
  .foliox_tm_hero .name {
    margin-bottom: 14px;
    font-size: 75px;
  }

  .foliox_tm_hero .\!name {
    margin-bottom: 14px;
    font-size: 75px;
  }
}
