.foliox_tm_testimonials .owl-theme .owl-dots .owl-dot span {
  width: 15px;
  height: 15px;
  background-color: var(--extra-color);
  position: relative;
  margin: 0 12px;
}

.foliox_tm_testimonials .owl-theme .owl-dots .owl-dot span:before {
  position: absolute;
  content: "";
  top: 1px;
  bottom: 1px;
  left: 1px;
  right: 1px;
  border-radius: 100%;
  border: 2px solid #fff;
  z-index: -1;
  -webkit-transition: all 0.5s ease;
  -moz-transition: all 0.5s ease;
  -ms-transition: all 0.5s ease;
  -o-transition: all 0.5s ease;
  transition: all 0.5s ease;
}

.foliox_tm_testimonials .owl-theme .owl-dots .owl-dot.active span:before {
  top: -5px;
  bottom: -5px;
  left: -5px;
  right: -5px;
}

.foliox_tm_testimonials .owl-theme .owl-nav.disabled + .owl-dots {
  top: -5px;
  bottom: -5px;
  left: -5px;
  right: -5px;
  margin-top: 64px;
}

@media (max-width: 1600px) {
  .foliox_tm_testimonials .text p {
    font-size: 27px;
  }
}

/***** Small ****/

@media (max-width: 1040px) {
  .foliox_tm_testimonials .text p {
    font-size: 27px;
  }
}

/***** Tablet ****/

@media (max-width: 768px) {
  .foliox_tm_testimonials .text p {
    font-size: 22px;
  }

  .foliox_tm_testimonials .icon .svg {
    height: 65px;
    width: 65px;
  }

  .foliox_tm_testimonials .detail h3 {
    font-size: 21px;
  }
}

/***** Phone ****/

@media (max-width: 480px) {
  .foliox_tm_testimonials .text p {
    font-size: 18px;
  }
}
