.foliox_tm_header.animate {
  background-color: #1e1345;
  padding: 30px 0;
}

.foliox_tm_header.animate .logo img {
  max-width: 160px;
}

.foliox_tm_header .menu ul li.current a {
  color: var(--extra-color);
}

.foliox_tm_header .social:before {
  position: absolute;
  content: "|";
  left: -30px;
  top: -2px;
}

.hamburger-inner,
.hamburger-inner:after,
.hamburger-inner:before {
  background-color: #fff;
}

.hamburger.is-active .hamburger-inner,
.hamburger.is-active .hamburger-inner:after,
.hamburger.is-active .hamburger-inner:before {
  background-color: #fff;
}

.foliox_tm_mobile_menu .hamburger-inner,
.foliox_tm_mobile_menu .hamburger-inner:after,
.foliox_tm_mobile_menu .hamburger-inner:before {
  width: 30px;
  height: 2px;
}

.foliox_tm_mobile_menu .hamburger-box {
  width: 30px;
}

.foliox_tm_mobile_menu .hamburger {
  padding: 0;
}

@media (max-width: 1040px) {
  .foliox_tm_header {
    display: none;
  }

  .foliox_tm_mobile_menu {
    display: block !important;
  }
}

@media (max-width: 1600px) {
  .foliox_tm_header {
    padding: 30px 0;
  }

  .foliox_tm_header.animate {
    padding: 20px 0;
  }

  .foliox_tm_header .logo img {
    max-width: 160px;
    max-height: 60px;
  }

  .foliox_tm_header.animate .logo img {
    max-width: 140px;
  }

  .foliox_tm_header .menu ul li {
    margin-right: 30px;
  }

  .foliox_tm_header .menu ul li:last-child {
    margin-right: 0;
  }
}
